<!DOCTYPE html>
{%load static %}

<script type="text/javascript" src="{% static '/juice_calendar/js/jquery-3.2.1.js' %}"></script>
<script type="text/javascript" src="{% static '/juice_calendar/js/rango-jquery.js' %}"></script>
<script type="text/javascript" src="{% static '/juice_calendar/js/jquery-ui.js' %}"></script>

<link rel="stylesheet" type="text/css" href="{%static 'juice_calendar/style.css' %}"/>
<link rel="stylesheet" href="{%static 'juice_calendar/jquery-ui.css' %}"/>


<html>
	<head>
		<style>
		{% block style%}{% endblock%}
		</style>
	</head>

	<body>
		<div>

<!-- Filter -->

{% block filter %} 
<div>
			<div class="dropdown">
			<button onclick="myFunction()" class="dropbtn">Filter by</button>
				<div id="myDropdown" class="dropdown-content">
					<a href="/calendar/filter/attendees" class="test">Attendees</a><br>
					<a href="/calendar/filter/product" class="test">Product Item</a><br>
					<div id="somediv" title="this is a dialog" style="display:none;">
    					<iframe id="thedialog" width="350" height="350"></iframe>
					</div>
  				</div>
			</div> 

</div>
{% endblock %} 

<!-- ************ -->
			<center>	
			<h1>Juice Calendar - {% block title %}{% endblock%} </h1>
			</center>
		
		</div>
<!-- Sidebar with product tree -->
		<div id="sidebar">
			{% block sidebar_block %}	
			<ul>
			<li><a href="#">Link1</a></li>
			<li><a href="#">Link2</a></li>
			<li><a href="#">Link3</a></li>
			{% endblock %}
		</div>
<!-- ************ -->
		<div>
			{% block body_block %}This is the calendar block default content{% endblock%}
		</div>
				
		<hr/>

		<div>
			<ul>
			{% if user.is_authenticated %}
 				<li><a href="{% url 'admin:index' %}">Modify Event </a></li>
 				<li><a href="http://127.0.0.1:8000/logout">Logout</a></li>
			{% endif %}	
 				<li><a href="/calendar/About/">About</a></li>
		</div>				
	</body>
</html>
